<header class="d-flex flex-wrap justify-content-center py-3 mb-4 border-bottom">
  <a
    href="/"
    class="d-flex align-items-center mb-md-0 me-md-auto link-body-emphasis text-decoration-none"
  >
    <span class="fs-4 ms-3">ngx-jodit-pro v1</span>
    <a
      href="https://www.npmjs.com/package/ngx-jodit-pro"
      class="ms-2 nav-link me-3"
    >
      <img alt="npm" src="https://img.shields.io/npm/v/ngx-jodit-pro/1x"/>
    </a>
  </a>
  <ul class="nav nav-pills">
    <li class="nav-item">
      <a
        href="https://github.julianpoemp.com/ngx-jodit-pro/3.x/"
        class="nav-link"
        aria-current="page"
      >v3</a
      >
    </li>
    <li class="nav-item">
      <a
        href="https://github.julianpoemp.com/ngx-jodit-pro/2.x/"
        class="nav-link"
      >v2</a
      >
    </li>
    <li class="nav-item">
      <a
        href="https://github.julianpoemp.com/ngx-jodit-pro/1.x/"
        class="nav-link active"
      >v1</a
      >
    </li>
    <li class="nav-item" style="padding-top: 0;margin-top:-5px;">
      <a href="https://github.com/julianpoemp/ngx-jodit-pro" class="nav-link"
      ><i class="bi bi-github" style="font-size: 1.5rem"></i
      ></a>
    </li>
  </ul>
</header>

<main class="p-3 p-md-5 py-md-3">
  <div class="alert alert-warning">
    Jodit-Pro v1 is deprecated. Please upgrade to a later version.
  </div>

  <p>Angular wrapper for <a href="https://github.com/xdan/jodit">Jodit</a> WYSIWYG editor. It supports Angular >= 12.
    Fore
    more information about installation, use, options and events see <a
      href="https://github.com/julianpoemp/ngx-jodit/tree/main/libs/ngx-jodit-pro#readme">Github README</a>.</p>

  <ngx-jodit-pro [(value)]="value" [options]="options" #jodit></ngx-jodit-pro>
  <h2>Options</h2>
  <p>All <a href="https://xdsoft.net/jodit/docs/classes/config.Config.html">options</a> from Jodit are supported.
    The options are set via two-way data-binding. Insert your options as JSON to test it.
  </p>
  <p>For example you can insert <code>&#123;"disabled": true}</code></p>
  <textarea [(ngModel)]="optionsStr" name="options"></textarea>
</main>
